
body {
  padding:0;
}

.target {
    cursor:pointer;
}

.transit.flipx .text, .transit.flipy .text  {
    display:none;
}

.flipx .container,
.flipy .container {
  z-index: 1;
  width:100%;
  height:100%;

}
.flipx .card,
.flipy .card {
  position:relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1.0s linear;
  -moz-transform-style: preserve-3d;
  -moz-transition: all 1.0s linear;
  -o-transform-style: preserve-3d;
  -o-transition: all 1.0s linear;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}


.hover.flipx #text0, .hover.flipy #text0 {
  display:none;
}

 .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;


}


.flipy .face, .flipx .face {


    -o-transition: all 1s;
    -ms-transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

}

.flipx .face.back {
  display: block;
  z-index:1;
  -webkit-transform: rotateY(-180deg);
  -webkit-box-sizing: border-box;
  -moz-transform: rotateY(-180deg);
  -moz-box-sizing: border-box;
  -o-transform: rotateY(-180deg);
  -o-box-sizing: border-box;
  transform: rotateY(-180deg);
  box-sizing: border-box;

}

.hover.flipx .face.back, .flipx .hover_effect .face.back
{
  z-index:2;
   -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.hover.flipx .face.front, .flipx .hover_effect .face.front
{
  z-index:1;
   -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipy .face.back {
  display: block;
  z-index:1;
  -webkit-transform: rotateX(-180deg);
  -webkit-box-sizing: border-box;
  -moz-transform: rotateX(-180deg);
  -moz-box-sizing: border-box;
  -o-transform: rotateX(-180deg);
  -o-box-sizing: border-box;
  transform: rotateX(-180deg);
  box-sizing: border-box;

}
.hover.flipy .face.back, .flipy .hover_effect .face.back
{
  z-index:2;
   -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.hover.flipy .face.front, .flipy .hover_effect .face.front
{
  z-index:1;
   -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.face div {
  position: absolute;
  display:table;
  top:0; left:0;
  width: 100%;
  height: 100%;
  line-height: 100%;

}
.face div span {
  display:table-cell;
  line-height: normal;
  padding:10px 20px;
}


span.aligntl, span.alignml, span.alignbl { text-align: left;}
span.aligntc, span.alignmc, span.alignbc { text-align: center;}
span.aligntr, span.alignmr, span.alignbr { text-align: right;}

.aligntl, .aligntc, .aligntr { vertical-align: top}
.alignml, .alignmc, .alignmr { vertical-align: middle}
.alignbl, .alignbc, .alignbr { vertical-align: bottom}

.alt .face1,
.unblur .face1,
.blur .face1,
.opaque .face1,
.unopaque .face1,
.greyscale .face1,
.zoom .face1, .unzoom .face1,
.twistl .face1, .twistr .face1
{
    opacity:0;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}



.hover.alt .face1,
.hover.unblur .face1,
.hover.blur .face1,
.hover.unopaque .face1,
.hover.greyscale .face1,
.hover.zoom .face1,
.hover.unzoom .face1,
.hover.twistl .face1 {
   opacity: 1;
}

.hover.opaque .face0 {
    opacity:0;
    transition: opacity 0.25s ease-in-out;
}

.greyscale .face0 {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);

}


.hover.zoom .card {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}


.unzoom .card {
    -webkit-transition: all .2s ease-in-out;
    -webkit-transform: scale(1.0);
    transition: all .2s ease-in-out;
    transform: scale(1.0);
}

.twistl .card, .twistr .card {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

    -webkit-transform: scale(1.1) rotate(0deg);
    transform: scale(1.1) rotate(0deg);
}


.text {
  white-space: pre-wrap;
}

.card {
  width:100%;
  height:100%;

}
.face {
  overflow:hidden;
}

.slidel .face1, .slider .face1, .slideu .face1, .slided .face1 {
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
}


.slidel .face1 {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
}

.slider .face1 {

  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%);
}

.hover.slidel .face1, .hover.slider .face1 {

  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform:translateX(0);
}

.slideu .face1 {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  transform: translateY(100%);
}

.slided .face1 {

  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.hover.slideu .face1, .hover.slided .face1 {

  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform:translateY(0);
}

#face0, #face1 {
  background-color:transparent;
}

#face2 {
  display:none;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#text2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    padding: 5%;
}

#face3 {
  display:none;
  position: absolute;
  top:0;
  left:0;  
  width:100%;
  height:100%;  
}

#onclick {
  display:none;
  position: absolute;
  top:0;
  left:0;  
  width:100%;
  height:100%;  
  cursor:pointer;
}

#text3 {
  position:absolute;
  right:10px;
  bottom:10px;
  width:50%;
}

#figure-image { position:absolute }
.figure-overlay { position:absolute }
#figure {margin-bottom: 0px; margin-top: 0px; margin-left: 0px; margin-right: 0px}

h2 a { text-decoration: none }

